.navLink {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  margin-right: 20px;
  font-weight: 700;
  color: black;
  transition: color 300ms;
}

.navLink:global(.active) {
  color: tomato;
}

.navLink:hover {
  color: tomato;
}

.navigation {
  border-bottom: 2px solid gray;
  padding: 20px;
}

.App {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  margin-right: 5px;
}
