.navLink {
  text-decoration: none;
  margin-right: 20px;
  font-weight: 700;
  color: black;
}

.navLink:global(.active) {
  color: tomato;
}

.navigation {
  border-bottom: 2px solid gray;
  padding: 20px;
}

.App {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
